*{
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}
#customiseDesc{
    width: 240px;
    text-align: left;
    padding-left: 150px;
    padding-right: 300px;
}

#price{
    font-weight: 800;
    font-size: 16px;
}

#checkOutBtn{
    background-color: yellow;
    padding-top:4px;
    padding-bottom: 4px;
    height: 48px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
    font-weight: 800;
    font-size: 18px;
}

#footerHr{
    margin-left: 100px;
    margin-right: 100px;
}

.activeNav{
    background-color: yellow;
    align-items: center;
    width: fit-content;
    margin: auto;
    font-weight: 800;
}

.cartDesc{
    line-height: 12px;
    padding-bottom: 2px;
}

.container{
    text-align: center;
    margin: auto;
}

.summary{
    text-align: right;
    margin-top: 50px;
    padding-left: 210px;
    padding-right: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.productDetailList{
    text-align: center;
    margin: auto;
    width: fit-content;
}

.shoppingList{
    text-align: center;
    margin: auto;
    width: fit-content;
}

.cartItem{
    margin-bottom:110px;
    text-align: center;
}

.itemList{
    text-align: center;
    margin: auto;
    width: fit-content;
}

.item{
    margin-bottom:70px;
    text-align: left;
    width: fit-content;
    padding: 4px;
}

.product{
    border: 2px solid black;
}

.removeButton{
    font-size: 14px;
    text-decoration: underline;
}

.dropdown{
    margin-top:50px;
}

.item:hover{
    background-color: yellow;
    padding: 4px;
}

.itemLink{
    text-decoration: underline;
}

.itemLink:hover{
   font-weight: 800;
}

nav{
    text-align: center;
    margin-bottom: 50px;
}

:link{
    text-decoration: none;
    color: black;
}

:visited{
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 48px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 18px;
}

hr{
    height: 2px;
    background-color:black;
}

button{
    background-color: yellow;
    padding-top:4px;
    padding-bottom: 4px;
    height: 28px;
    width: 96px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
    font-weight: 800;
}

select{
    padding: 5px;
    top: 14px;
    right: 10px;
    width: 225px;
    border: 2px solid black;
}

.select-selected:after{
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
